{{>menu}}
<br>
<h2>Subida de imagenes y documentos :</h2>
<hr>
<br> 
{{#if error}}
<div class=error>
    {{errorDetail}}
</div>
{{/if}}
<body>
<form action="/api/sesions/users/{{uid}}/documents" method="POST" enctype="multipart/form-data">
  <div class="archivo-container">
    <label for="tipoDocumento1">Tipo de documento:</label>
    <select name="tipoDocumento1" id="tipoDocumento1" onchange="checkOtro(this, 1)">
      <option value="identificacion">Identificación</option>
      <option value="domicilio">Comprobante de Domicilio</option>
      <option value="estadoCuenta">Comprobante de Estado de Cuenta</option>
      <option value="otro">Otro</option>
    </select>

    <div id="otroInput1" style="display: none;">
      <label for="otroTexto1">Especificar:</label>
      <input type="text" name="otroTexto1" id="otroTexto1">
    
    </div>
    <label for="tipoArchivo1">Tipo de archivo:</label>
    <select name="tipoArchivo1" id="tipoArchivo1" >
      <option value="perfil">Imagen del perfil</option>
      <option value="producto">Imagen de Producto</option>
      <option value="documento">Documento</option>
      
    </select>
    
    <label for="archivos1">Seleccionar archivos:</label>
    <input type="file" name="archivos1" id="archivos1" multiple>
  </div>

  <button type="submit">Subir archivos</button>
</form>
<script>
  function checkOtro(selectElement, index) {
    const otroInput = document.getElementById(`otroInput${index}`);
    const otroTextoInput = document.getElementById(`otroTexto${index}`);

    if (selectElement.value === 'otro') {
      otroInput.style.display = 'block';
      otroTextoInput.required = true;
    } else {
      otroInput.style.display = 'none';
      otroTextoInput.required = false;
    }
  }
</script>

</body>
